:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    font-size: 15px;
}
body {
    
    font-family: 'Manrope', sans-serif;
    font-family: 'Spartan', sans-serif;
}
.container {
    height: 100vh;
    background-image: url('./images/bg-pattern-top-desktop.svg'),  url('./images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 15rem;
    justify-content: space-between;
}
.headingAndRating {
    display: flex;
}
.heading {
    width: 35%;
}
.heading > h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 2.3rem;
    font-weight: 700;
    margin: 1rem; 
}
.heading > p {
    color: var(--Dark-Grayish-Magenta);
    margin: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 500;
}
.rating-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10rem;
    width: 50%;
}
.ratingBox {
    width: 75%;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
}
.ratingStar {
    width: 35%;
    display: flex;
    justify-content: space-around;
}
.ratingStar > img {
    height: 1rem;
    width: 1rem;
    margin: auto;
}
.discription {
    width: 65%;
    font-size: 0.8rem;
    margin: auto;
    margin-left: 1.3rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
}
.buyers {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}
.buyerContent {
    width: 30%;
    height: 40%;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 0.7rem;
}
.colton, .irene, .anne {
    display: flex;
    margin: 1.8rem;
}
.buyerContent > p {
    color: var(--Light-Grayish-Magenta);
    font-size: 0.65rem;
    font-weight: 400;
    margin: 1.8rem;
    line-height: 1rem;
}
.image > img {
    height: 3rem;
    width: 3rem;
    border-radius: 10rem ;
}  
.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.7rem;
    
} 
.name > h4 {
    color: var(--Light-Grayish-Magenta);
    font-size: 0.65rem;
    font-weight: 700;
}
.name > p {
    color: var(--Soft-Pink);
    font-size: 0.7rem;
    margin-top: 0.5rem ;
}

.buyer3 {
    margin-top: 2rem;
}
.buyer2 {
    margin-top: 1rem;
}

.reportGuru {
    margin-left: 4rem ;
} 
.bestTech {
    margin-left: 7.5rem;
}